.Homepage {
  width: 100%;
  height: 550px;
  background: url('../../Assest/Image/homepage.jpeg') rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  background-size: cover;
}

.Content {
  position: absolute;
  font-size: 4rem;
  z-index: -1;
  color: black;
}